<cabecalho data-title="Embarcaçao"></cabecalho>

<div class="row">
    <div class="col s12">
        <div class="card">
            <h5 class="card-primary-title">Embarcaçoes</h5>
            <div class="row">
                <div class="input-field col m6">
                    <input id="FiltroEmbarcacaoNome" type="text" data-ng-model="embarcacaoVm.filtro.nome" />
                    <label for="FiltroEmbarcacaoNome">Nome</label>
                </div>
                <div class="input-field col m6">
                    <input id="FiltroEmbarcacaoComprimento" type="number" data-ng-model="embarcacaoVm.filtro.comprimento" />
                    <label for="FiltroEmbarcacaoComprimento">Comprimento</label>
                </div>
            </div>
        </div>

        <div class="card" data-ng-show="embarcacaoVm.embarcacoes.length">
            <table class="bordered striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Comprimento</th>
                        <th class="right-align">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="embarcacao in embarcacaoVm.embarcacoes | filter: embarcacaoVm.filtro | orderBy: 'nome'">
                        <td>{{embarcacao.nome}}</td>
                        <td>{{embarcacao.comprimento}}</td>
                        <td class="right-align">
                            <i class="material-icons icon red-icon" title="Remover" data-ng-click="embarcacaoVm.remover(embarcacao)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Botão Adicionar -->
<div class="add-btn">
    <a href="#!/embarcacoes/cadastro" class="btn-floating btn-large waves-effect waves-light"> <i class="material-icons">add</i> </a>
</div>