<cabecalho data-title="Especie"></cabecalho>

<div class="card">
    <form id="form-categoria">
        <h4 class="card-primary-title">
            <span>Cadastrar Especie</span>
        </h4>
        <div class="row">
            <div class="input-field col s12">
                <input id="EspecieNome" type="text" data-ng-model="especieVm.especie.nome" />
                <label for="EspecieNome">Nome</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="EspecieProfundidadeMinima" type="number" data-ng-model="especieVm.especie.profundidadeMinima" />
                <label for="EspecieProfundidadeMinima">Profundidade Minima</label>
            </div>            
            <div class="input-field col s12 m6">
                <input id="EspecieProfundidadeMaxima" type="number" data-ng-model="especieVm.especie.profundidadeMaxima" />
                <label for="EspecieProfundidadeMaxima">Profundidade Maxima</label>
            </div>            
        </div>
        <div class="row">
            <div class="file-field input-field col s12">
                <div class="btn">
                    <span>Imagens</span>
                    <input id="EspecieImagens" type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Anexe uma ou mais imagens">
                </div>
            </div>
        </div>            
        <div class="end-card right-align">
            <a class="btn-flat" data-ng-click="especieVm.salvar(especieVm.especie)">Salvar</a>
        </div>
    </form>
</div>

<!-- Botão Voltar -->
<div class="bck-btn">
    <a href="#!/especies" class="btn-floating btn-medium waves-effect waves-light"> <i class="material-icons">arrow_back</i> </a>
</div>