<cabecalho data-title="Porto"></cabecalho>
<div class="row">
    <div class="col s12">
        <div class="card">
            <h5 class="card-primary-title">Porto</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input id="FiltroPortoNome" type="text" data-ng-model="portoVm.filtro.nome" />
                    <label for="FiltroPortoNome">Nome</label>
                </div>
            </div>
        </div>

        <div class="card" data-ng-show="portoVm.portos.length">
            <table class="bordered striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Administração</th>
                        <th>Ano de Fundação</th>
                        <th class="right-align">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="porto in portoVm.portos| filter: portoVm.filtro.nome | orderBy: 'nome'">
                        <td>{{porto.nome}}</td>
                        <td>{{porto.administracao}}</td>
                        <td>{{porto.anofundacao}}</td>
                        <td class="right-align">
                            <i class="material-icons icon red-icon" title="Remover" data-ng-click="portoVm.remover(porto)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Botão Adicionar -->
<div class="add-btn">
    <a href="#!/portos/cadastro" class="btn-floating btn-large waves-effect waves-light"> <i class="material-icons">add</i> </a>
</div>