<cabecalho data-title="Viagem"></cabecalho>

<div class="card">
    <form>
        <h4 class="card-primary-title">
            <span>Cadastrar Viagem</span>
        </h4>
        <div class="row">
            <div class="input-field col s12">
                <select id="ViagemEmbarcacao" data-ng-model="viagemVm.viagem.embarcacao">
                    <option data-ng-repeat="embarcacao in viagemVm.embarcacoes" 
                            data-ng-value="embarcacao">{{embarcacao.nome}}</option>
                </select>
                <label for="ViagemEmbarcacao">Embarcação</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <select id="ViagemPortoOrigem" data-ng-model="viagemVm.viagem.origem">
                    <option data-ng-repeat="porto in viagemVm.portos"
                            data-ng-hide="porto.id === viagemVm.viagem.destino.id"
                            data-ng-value="porto">{{porto.nome}}</option>
                </select>
                <label for="ViagemPortoOrigem">Porto de Origem</label>
            </div>
            <div class="input-field col s12 m6">
                <select id="ViagemPortoDestino" data-ng-model="viagemVm.viagem.destino">
                    <option data-ng-repeat="porto in viagemVm.portos"
                            data-ng-hide="porto.id === viagemVm.viagem.origem.id"
                            data-ng-value="porto">{{porto.nome}}</option>
                </select>
                <label for="ViagemPortoDestino">Porto de Destino</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="ViagemDataSaida" type="date" class="datepicker" data-ng-model="viagemVm.viagem.dataSaida">
                <label for="ViagemDataSaida" class="active">Data de Saída</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="ViagemDataChegada" type="date" class="datepicker" data-ng-model="viagemVm.viagem.dataChegada">
                <label for="ViagemDataChegada" class="active">Data de Chegada</label>
            </div>
        </div>
        <div class="end-card right-align">
            <a class="btn-flat" data-ng-click="viagemVm.salvar(viagemVm.viagem)">Salvar</a>
        </div>
    </form>
</div>

<!-- Botão Voltar -->
<div class="bck-btn">
    <a href="#!/viagens" class="btn-floating btn-medium waves-effect waves-light"> <i class="material-icons">arrow_back</i> </a>
</div>