<cabecalho data-title="Viagem"></cabecalho>
<div class="row">
    <div class="col s12">
<!--        <div class="card">
            <h5 class="card-primary-title">Viagems</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input id="FiltroViagemNome" type="text" data-ng-model="viagemVm.filtro.nome" />
                    <label for="FiltroViagemNome">Nome</label>
                </div>
            </div>
        </div>-->

        <div class="card" data-ng-show="viagemVm.viagens.length">
            <table class="bordered striped">
                <thead>
                    <tr>
                        <th>Embarcação</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Data de Saída</th>
                        <th>Data de Chegada</th>
                        <th class="right-align">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="viagem in viagemVm.viagens">
                        <td>{{viagem.embarcacao.nome}}</td>
                        <td>{{viagem.origem.nome}}</td>
                        <td>{{viagem.destino.nome}}</td>
                        <td>{{viagem.dataSaida}}</td>
                        <td>{{viagem.dataChegada}}</td>
                        <td class="right-align">
                            <a href="#!/viagens/{{viagem.id}}">
                                <i class="material-icons icon blue-icon" title="Visualizar">remove_red_eye</i>
                            </a>
                            <i class="material-icons icon red-icon" title="Remover" data-ng-click="viagemVm.remover(viagem)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Botão Adicionar -->
<div class="add-btn">
    <a href="#!/viagens/cadastro" class="btn-floating btn-large waves-effect waves-light"> <i class="material-icons">add</i> </a>
</div>